<div class="row">
  <div class="col-md-3">
    <h5 class="text-center mt-3"> Hi <%= @current_user.username %>! </h5>
    <div class="avatar">
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8JyScJ3XAm0g9mNMQ1Ws7EI6LoVgs7_HDXg&usqp=CAU", class: "avatar dropdown-toggle""navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, height: '50px', width: '50px' %>
    </div>
    <h4> Users </h4>
    <div class="mb-3">
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>

    <h4> Rooms </h4>
    <%= render partial: "layouts/new_room_form" %>

    <div>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms" class="my-3">
        <%= render @rooms %>
      </div>
    </div>

    <div class="signout-container">
      <%= link_to 'Sign Out', login_path,  :method => :delete, class:"signout-text" %>
    </div>
  </div>
  <div class="col-md-9 bg-dark text-light">
    <% if @single_room %>
      <h4 class="text-center mt-3"> <%= @user&.username || @single_room.name.capitalize %> </h4>
      <%= turbo_stream_from @single_room %>
      <div id="messages">
        <%= render @messages %>
      </div>
      <%= render partial: 'layouts/new_message_form' %>
    <% end %>
  </div>
</div>
