<%= audio_tag 'clearly-602.mp3', id: 'audio-tag' %>
<div class="row">
  <div class="col-md-3">
    <h5 class="text-center mt-3"> Hi <%= @current_user.username %>! </h5>
    <div class="avatar">
        <%= image_tag ("avatar.png"), class: "avatar", height: '60px', width: '60px' %>
    </div>
    <h4> Users </h4>
    <div class="mb-5">
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>

    <h4> Rooms </h4>
    <%= render partial: "layouts/new_room_form" %>

    <div>
      <%= turbo_stream_from "rooms" %>
      <div id="rooms" class="my-3 rooms-list">
        <%= render @rooms %>
      </div>
    </div>

    <div class="logout-container">
      <%= link_to 'Log Out', login_path, :method => :delete, class:"logout-btn" %>
    </div>
  </div>

  <div class="col-md-9 bg-dark text-light">
    <% if @single_room %>
      <h4 class="text-center mt-3"> <%= @user&.username || @single_room.name.capitalize %> </h4>
      <%= turbo_stream_from @single_room %>
      <div id="messages" data-controller="scroll">
        <%= render @messages, autofocus:true %>
      </div>
      <%= render partial: 'layouts/new_message_form' %>
    <% end %>
  </div>
</div>
